<div class="row">
	<div class="span12">
		<div id="questions">
			<%= render "index", :questions => @questions %>
		</div>
		<div id="load-more" class="loading">
			<div class="blueText">Load More</div>
		</div>
	</div>
</div>
<script>
var current_page = 1;
$(function() {
	$("#load-more").live("click",function(){
		$.ajax({
			url: location.href,
			type: "get",
			dataType: "script",
			data: {page: ++current_page},
			beforeSend: function(){
				$("#load-more").html('<span class="spinner"></span>');
			},
			complete: function(){
				$("#load-more").html('<div class="blueText">Load More</div>');
			}
		});
		return false;
	});
});
</script>