<%= render 'tabs' %>
<div class="row">
	<div class="col9">
		<div id="questions">
			<%= render "index", :questions => @questions %>
		</div>
		<div id="load-more" class="loading">
			<div class="blueText">更多问题</div>
			<div class="spinner"></div>
		</div>
	</div>
	<div id="sidebar">
		<%= link_to '提 问', new_question_path, :class => 'buttonLink', :id => 'ask-question' %>
	</div>
</div>
<script>
var current_page = 1;
$(function() {
	$("#load-more").live("click",function(){
		$.ajax({
			url: location.href,
			type: "get",
			dataType: "script",
			data: {page: ++current_page},
			beforeSend: function(){
				$("#load-more .blueText").hide();
				$("#load-more .spinner").show();
			},
			complete: function(){
				$("#load-more .spinner").hide();
				$("#load-more .blueText").show();
			}
		});
		return false;
	});
});
</script>