<div class="passport clearfix">
	<div class="gravatar32"><%= image_tag "http://gravatar.com/avatar/5a4861470749020a5a1165cbe2facfbc.png?r=PG&s=32" %></div>
	<div class="detail">
		<%= link_to user.username, "/users/#{user.id}" %><br>
		<div class="credit"><%= user.credit %></div>
	</div>
	<div class="about-me"><%= user.about_me %></div>
</div>