$text_gray: #ababab;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-box{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.title-height{
  height:48px;
  resize:none;
  overflow:hidden;
}

#questions{
	.question{
		border-bottom: 1px solid #CDDCF9;
		padding: 10px 0;
	}
	.question:last-child{
	  border-bottom:none;
	}
	.status{
	  float:left;
  	color: $text_gray;
		border: 1px dashed #CDDCF9;
		width:120px;
		@include border-radius(5px);
	}
}
.question{
	.summary{
		margin-left:136px;
		.excerpt{
			min-height:42px;
		}
		h5{
			font-weight:normal;
			line-height:21px;
		}
		.timestamp{
      color:#bfbfbf!important;
			font-size:12px;
		}
	}
}
.status{
	.square{
		float:left;
		font-size:13px;
		height:60px;
		width:60px;
		text-align:center;
	}
	.count{
		font-size:24px;
		line-height:30px;
		padding-top: 5px;
	}
}

.blank{
  background: white;
  margin-top: 18px;
  margin-bottom: 18px;
  padding:0;
  padding-left: 150px;
  border-top: none;
}

.loading{
  position: relative;
  height: 39px;
  text-align: center;
  background: #EBF2FC;
  border: 1px solid #CDDCF9;
  cursor:pointer;
  .blueText{
    color: #3B5998;
    padding:12px;
  }
  .spinner {
    height: 11px;
    width: 16px;
    background-image: url(/assets/loading.gif);
    margin: 14px auto;
    display:none;
  }
}
.vote-area{
  float:left;
  width:50px;
}
.post{
  margin-left:60px;
  color:#444;
  .title{
  	line-height:24px;
  	padding-bottom:8px;
  }
  .content{
    font-size:14px;
  	line-height:1.6;
  }
  .operate{
    padding:12px 0;
    a{
      color:#5F88CE;
      cursor:pointer;
    }
  }
}

#sidebar {
float: right;
overflow: hidden;
margin: 12px 0 60px 0;
width: 200px;
}

#create-answer{
  margin-top:30px;
}

//
#question-header {
	border-bottom: 1px solid #bbb;
}
#question-header h1 {
	color: #444;
	margin-bottom: 0!important;
}
#question-header h1 {
	font-size: 18px;
	padding: 9px;
	line-height: 1.4;
}
#question-header .question-hyperlink {
	font-size: 21px;
	line-height: 23px;
	font-weight: bold;
	color: #00adee;
}
#question-header .question-hyperlink:visited {
	color: #00adee;
}
.question-hyperlink {
	font-weight: normal;
	line-height: 1.1;
	font-size: 17px;
	margin-bottom: 1.2em;
}

#mainbar .question{
  padding-top:10px;
}
//passport
.passport{
	padding:12px 0px;
	.gravatar32 {
		float: left;
		width: 32px;
		height: 32px;
	}
	.detail {
		float: left;
		margin-left: 8px;
	}
	.about-me{
		margin-left:90px;
	}
	.credit {
		font-weight: bold;
		color: #444;
		font-size: 14px;
		line-height:1;
	}
}

//vote
.vote-area{
  text-align:center;
}
.vote-up-off,.vote-up-on,.vote-down-off,.vote-down-on,.star-on,.star-off,.comment-up-off,.comment-up-on,.flag-off,.flag-on,.edited-yes,a.cc-wiki-link,.feed-icon,.vote-accepted-off,.vote-accepted-on,.vote-accepted-bounty,.badge-earned-check,.delete-tag,.delete-tag-hover,.grippie,.expander-arrow-hide,.expander-arrow-show,.expander-arrow-small-hide,.expander-arrow-small-show,.anonymous-gravatar,.badge1,.badge2,.badge3 {
	background-image: url(/assets/sprites.png);
	background-repeat: no-repeat;
	overflow: hidden;
}
.vote-up-off,.vote-up-on,.vote-down-off,.vote-down-on,.star-on,.star-off {
	display: block;
	margin: 0 auto;
	text-indent: -999em;
	background-position: 0 -170px;
	width: 28px;
	height: 28px;
}
.vote-up-off,.vote-down-off,.vote-accepted-off,.star-off,.comment-up-off,.flag-off {
	cursor: pointer;
}
.vote-up-off,.vote-up-on,.vote-down-off,.vote-down-on,.star-on,.star-off,.comment-up-off,.comment-up-on,.comment-flag,.flag-off,.vote-accepted-off,.vote-accepted-on {
	text-indent: -9999em;
	font-size: 1px;
}
.vote-up-on {
	background-position: -40px -170px;
}
.vote-down-off {
	background-position: 0 -220px;
	margin-bottom: 5px;
}
.vote-down-on {
	background-position: -40px -220px;
	margin-bottom: 5px;
}
.star-off {
	background-position: 1px -120px;
}
.star-on {
	background-position: -40px -120px;
}

.vote-count-post {
	color: #707070!important;
	line-height: 17px!important;
	padding: 6px 0 9px 0!important;
	font-size: 22px;
}

//
#ask-question{
	width: 160px;
	height:46px;
	line-height:46px;
	color:white;
	font-size:30px;
}
a.buttonLink{
	border: 1px solid #EDA42E;
	text-shadow: 0 -1px 0 #EDA42E;
	background: #FEC965;
	background: -moz-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEC965),color-stop(100%,#FEBC3E));
	background: -webkit-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
	background: -o-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
	background: -ms-linear-gradient(top,#FEC965 0,#FEBC3E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEC965',endColorstr='#FEBC3E',GradientType=0);
	background: linear-gradient(top,#FEC965 0,#FEBC3E 100%);
	display: inline-block;
	text-decoration:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px 5px 4px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

//custom
textarea.col9 { width: 726px; }
textarea {
  height:10em;
  @include border-box;
}

//post menu
.post-menu {
	padding-top: 12px;
}
.post-menu > a {
	padding: 0px 3px 2px 3px;
	color: #888;
}
.post-menu > a:hover {
	color: #444;
	text-decoration: none;
}
.post-menu .lsep {
	margin: 0px;
	padding: 0px;
}
.post-menu > a {
	padding: 1px 6px;
	margin-right: 1px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.post-menu > a:hover {
	background-color: #faea91;
}