.btn,input[type=submit].btn,input[type=button].btn {
	background: #ddd url(../images/buttons/bg-btn.gif) repeat-x 0 0;
	font: 11px/14px "Lucida Grande",sans-serif;
	width: auto;
	margin: 0;
	overflow: visible;
	padding: 4px 8px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	border-bottom-color: #ccc;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #333;
	text-shadow: 1px 1px 0 #fff;
	cursor: pointer;
}
.btn: : -moz-focus-inner {
	padding: 0;
	border: 0;
}
.btn-m,input[type=submit].btn-m,input[type=button].btn-m {
	background-position: 0 -200px;
	font-size: 15px;
	line-height: 20px!important;
	padding: 5px 15px 6px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.btn-l,input[type=submit].btn-l,input[type=button].btn-l {
	background-position: 0 -400px;
	font-size: 20px;
	line-height: 26px;
	padding: 7px 20px 9px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.btn-light {
	background-color: #add!important;
	background-image: url(../images/buttons/bg-btn-light.gif)!important;
	border-color: #add #add #9cc!important;
	text-shadow: 1px 1px 0 #dff!important;
}
.btn-dark {
	background-color: #59a!important;
	background-image: url(../images/buttons/bg-btn-dark.gif)!important;
	border-color: #59a #59a #489!important;
	color: #fff!important;
	text-shadow: -1px -1px 0 #59a!important;
}
.btn-blue {
	background-color: #39d!important;
	background-image: url(../images/buttons/bg-btn-blue.gif)!important;
	border-color: #39d #39d #28c!important;
	color: #fff!important;
	text-shadow: -1px -1px 0 #39d!important;
}
.btn-chart {
	background-color: #9c2!important;
	background-image: url(../images/buttons/bg-btn-chart.gif)!important;
	border-color: #9c2 #9c2 #8b1!important;
	text-shadow: 1px 1px 0 #df6!important;
}
.btn-mint {
	background-color: #bdb!important;
	background-image: url(../images/buttons/bg-btn-mint.gif)!important;
	border-color: #bdb #bdb #aca!important;
	text-shadow: 1px 1px 0 #efe!important;
}
.btn-green {
	background-color: #272!important;
	background-image: url(../images/buttons/bg-btn-green.gif)!important;
	border-color: #272 #272 #161!important;
	color: #fff!important;
	text-shadow: -1px -1px 0 #272!important;
}
.btn-pink {
	background-color: #daa!important;
	background-image: url(../images/buttons/bg-btn-pink.gif)!important;
	border-color: #daa #daa #c99!important;
	text-shadow: 1px 1px 0 #fdd!important;
}
.btn-red {
	background-color: #a22!important;
	background-image: url(../images/buttons/bg-btn-red.gif)!important;
	background-position: 0 0;
	border-color: #a22 #a22 #911!important;
	text-shadow: -1px -1px 0 #a22!important;
	color: #fff!important;
}
.btn-yellow {
	background-color: #fa2!important;
	background-image: url(../images/buttons/bg-btn-yellow.gif)!important;
	border-color: #fa2!important;
	color: #333!important;
	color: rgba(0,0,0,.75)!important;
	text-shadow: 0 1px 1px rgba(255,255,255,.5)!important;
}
.btn: hover,.btn: focus,input[type=submit].btn: hover,input[type=submit].btn: focus,button.btn: hover,button.btn: focus {
	border-color: #999 #999 #888;
	background-position: 0 -6px;
	color: #000;
	text-decoration: none;
}
.btn-light: hover,.btn-light: focus {
	border-color: #7aa #7aa #699;
}
.btn-dark: hover,.btn-dark: focus {
	border-color: #267 #267 #156;
	color: #fff;
}
.btn-blue: hover,.btn-blue: focus {
	border-color: #17b #17b #06a;
	color: #fff;
}
.btn-chart: hover,.btn-chart: focus {
	border-color: #7a1 #7a1 #690;
}
.btn-mint: hover,.btn-mint: focus,input[type=submit].btn-mint: hover,input[type=submit].btn-mint: focus,button.btn-mint: hover,button.btn-mint: focus {
	border-color: #8a8 #8a8 #797!important;
}
.btn-green: hover,.btn-green: focus,input[type=submit].btn-green: hover,input[type=submit].btn-green: focus,button.btn-green: hover,button.btn-green: focus {
	background-color: #272!important;
	border-color: #050 #050 #040!important;
	color: #fff;
}
.btn-pink: hover,.btn-pink: focus,input[type=submit].btn-pink: hover,input[type=submit].btn-pink: focus,button.btn-pink: hover,button.btn-pink: focus {
	border-color: #a88 #a88 #977!important;
}
.btn-red: hover,.btn-red: focus,input[type=submit].btn-red: hover,input[type=submit].btn-red: focus,button.btn-red: hover,button.btn-red: focus {
	background-color: #a22!important;
	border-color: #611 #611 #500!important;
	color: #fff;
}
.btn-yellow: hover,.btn-yellow: focus,input[type=submit].btn-yellow: hover,input[type=submit].btn-yellow: focus,button.btn-yellow: hover,button.btn-yellow: focus {
	background-color: #fa2!important;
	border-color: #fa2!important;
	color: rgba(0,0,0,.75)!important;
	text-shadow: 0 1px 1px rgba(255,255,255,.25)!important;
}
.btn-m: hover,.btn-m: focus,input[type=submit].btn-m: hover,input[type=submit].btn-m: focus,button.btn-m: hover,button.btn-m: focus {
	background-position: 0 -206px;
}
.btn-l: hover,.btn-l: focus,input[type=submit].btn-l: hover,input[type=submit].btn-l: focus,button.btn-l: hover,button.btn-l: focus {
	background-position: 0 -406px;
}
button: active,button.btn: active,input[type=submit]: active,button.btn-dark: active,button.btn-light: active,.btn: active,.btn-red: active,.btn-green: active {
	background-image: none!important;
	text-shadow: none!important;
	outline: none!important;
}
.dbtn,.dbtn: hover,.dbtn: focus,.dbtn: active,button.dbtn: hover,button.dbtn: focus {
	background: #eee;
	border-color: #ddd;
	color: #aaa;
	text-shadow: none;
}
.btn-light.dbtn,.btn-light.dbtn: hover,.btn-light.dbtn: focus,.btn-light.dbtn: active {
	background: #dee;
	border-color: #cdd;
	color: #9aa;
}
.btn-dark.dbtn,.btn-dark.dbtn: hover,.btn-dark.dbtn: focus,.btn-dark.dbtn: active {
	background: #aad5dd;
	border-color: #99c5cc;
	color: #ddf6f6;
}
.btn-blue.dbtn,.btn-blue.dbtn: hover,.btn-blue.dbtn: focus,.btn-blue.dbtn: active {
	background: #bde;
	border-color: #acd;
	color: #def;
}
.btn-chart.dbtn,.btn-chart.dbtn: hover,.btn-chart.dbtn: focus,.btn-chart.dbtn: active {
	background: #deb;
	border-color: #cda;
	color: #ab9;
}
.btn-mint.dbtn,.btn-mint.dbtn: hover,.btn-mint.dbtn: focus,.btn-mint.dbtn: active {
	background: #ded;
	border-color: #cdc;
	color: #9a9;
}
.btn-green.dbtn,.btn-green.dbtn: hover,.btn-green.dbtn: focus,.btn-green.dbtn: active {
	background: #aca;
	border-color: #9b9;
	color: #ded;
}
.btn-pink.dbtn,.btn-pink.dbtn: hover,.btn-pink.dbtn: focus,.btn-pink.dbtn: active {
	background: #edd;
	border-color: #dcc;
	color: #a99;
}
.btn-red.dbtn,.btn-red.dbtn: hover,.btn-red.dbtn: focus,.btn-red.dbtn: active {
	background: #caa;
	border-color: #b99;
	color: #edd;
}
.btn.right {
	float: right;
}