.user-panel{
	.big-avatar{
		float:left;
		width:128px;
		height:128px;
	}
	.more-info{
		margin-left:148px;
		h1{
		  margin-bottom: 14px;
		}
	}
	.big-name{
		font-size:24px;
		line-height:1.4;
	}
	.aboutme{
		color:#666;
		font-size:14px;
	}
	.credit{
		padding-top:10px;
		color:#AAA;
		font-size:18px;
		line-height:1.4;
		font-weight:bold;
		font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	}
	.stats{
	  padding-top:10px;
	}
	.block{
	  float:left;
	  width:100px;
	  text-align:center;
	  border-right:1px solid #ccc;
	  .count{
	    font-size:24px;
	    line-height:32px;
	    color:#333;
	  }
	}
	.block:last-child{
	  border-right:none;
	}
}
.padding40{
  padding-top:40px;
}