<!DOCTYPE html>
<html>
<head>
  <title>Sjobs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="topbar">
		<div class="topbar-inner">
			<div class="bar">
				<div class="container">
					<h3><a href="#"></a></h3>
					<ul class="nav">
						<li><a href="#">问题</a></li>
						<li><a href="#">动态</a></li>
						<li><a href="#">收件箱</a></li>
					</ul>
					<ul class="nav secondary-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">陈振宇</a>
							<ul class="dropdown-menu">
								<li><a href="#">Secondary link</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Another link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="tile">
				
			</div>
		</div>
	</div>
	<div class="layout-978">
		<%= yield %>
	</div>
</body>
</html>
